html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}



h6 {
    font-family: 'Overpass', sans-serif;
    font-size: 200%;
    text-align: center;
    color: white;
    margin: 30px;
}

.background-container {
    position: relative; 
    width: 100vw;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rotated-text {
    display: flex;
    position: absolute;
    background-size: cover;
    bottom: 7%;
    left: -15%;
    z-index: -1;
    transform: translateY(-50%) rotate(-90deg);
    color: rgb(255, 255, 255); 
    font-size: 20vw; 
    font-family: 'Anton', sans-serif; 
    white-space: nowrap;
}

.rotated-text-2 {
    display: flex;
    position: absolute;
    z-index: -2;
    bottom: -12%;
    right: -5%;
    transform: translateY(-50%) rotate(-270deg);
    color: rgb(255, 255, 255); 
    font-size: 20vw;
    font-family: 'Anton', sans-serif; 
    white-space: nowrap;

}

.container {
    width: 100vw;
    margin: 0 auto;
}

header, .navbar {
    background-color: #333;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
}

h3, nav a{
    font-family: 'Overpass', sans-serif;
    color: white;
}

h2, nav a {
    font-family: 'Overpass', sans-serif;
    color: white;
    margin-left: 15px;
}

.navbar {
    top: 0;
    opacity: 85%;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 8888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-right: 8px;
}

nav a {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;

}

nav a:hover {
    transform: scale(1.1);
    color: purple;
    transition: transform 0.3 ease, color 0.3 ease;
}

nav ul li:last-child {
    margin-right: 30px; 
}

.hero-section {
    width: auto;
    position: relative;
    height: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-image-1{
    display: flex;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease-in-out;
}


.hero-image {
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    align-items: flex-end;


}


.image-buttons {
    bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.image-button {
    width: 10px;
    height: 10px;
    background-color: white;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.image-button:hover {
    background-color: rgb(248, 119, 248);
}

.image-button.active {
    background-color: purple;
}

main {
    padding-top: 10px;
    padding-bottom: 20px;

}

h1 {
    top: -11%;
    position: absolute;
    font-family: 'Overpass', sans-serif;
    font-size: 200%;
    text-align: center;
    color: white;
    margin: 30px;
    left: 36%;
}

.song-wrapper {
    display: flex;
    overflow-x: auto; 
}

.song-container {
    display: flex;
    z-index: 1;
}

.song {
    display: flex;
    width: 250px;
    text-align: center;
    margin-right: 35px;
}

.song + .song {
    margin-left: 20px;
}

.song-content {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.song img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.song-title {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Overpass";
    color: #ddabff;
}

.play-button {
    background-color: #2b0238; 
    border: none;
    color: #ddabff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: rgb(248, 119, 248);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; 
    padding: 20px 0; 
}

.video {
    display: flex;
    text-align: center;
    width: 50%;
    margin-right: 20px;
}   

.video iframe{
    max-width: 100%;
    height: 350px;
    margin: 0 auto;
}

.nav-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.nav-button:hover {
    background-color: rgb(248, 119, 248);
}

footer {
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    vertical-align: baseline;
    text-align: center;
}

footer.merch{
    position: relative;
    bottom: -60px;
}

footer a{
    font-size: 12px;
    color: #fff;
}
.social-media {
    display: flex;
}

.social-media a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}

.social-media a:hover{
    transform: scale(1.2);
    transition: transform 0.3 ease;
}

.social-media img {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3 ease;
}
.songs-section {
    display: flex;
    justify-content: center;
}

.song-players {
    display: flex;
    align-items: center;
}

.song-player {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 30px;
    width: 200px;
}

.song-player img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    z-index: 1; 
}

.song-player img.fade-out {
    animation: fadeOutAnimation forwards 48s; 
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    100% {
        opacity: 0.3;
        clip-path: inset(100% 0 0 0);
    }
}


.song-player img:hover {
    cursor: pointer;
}

.song-player p {
    font-family: "Overpass";
    color: rgb(189, 104, 255);
    font-size: 36px;
}

.song-players button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
}

.song-players button:hover {
    cursor: pointer;
}

.hero-image-dates{
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    align-items: flex-end;
}
.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-video iframe {
    padding-top: 20px;
    width: 900px;
    height: 500px;
}

.event-details{
    display: flex;
    width: 100%;
    border-collapse: collapse;
}

#events-table {
    width: 60%; 
    margin: 0 auto; 
    border-collapse: collapse;
    margin-top: 20px;
}

#events-table td {
    font-size: 17px;

}

#events-table th, #events-table td {
    font-family: 'Overpass', sans-serif;
    padding-bottom: 30px;
    text-align: left;
    color: #fff;
    width: 30%;
}

th {
    font-size: 40px;
}

.news-container {
    padding-top:  70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-item {
    height: 260px;
    background: #333;
    margin-bottom: 80px;
    position: relative;
    padding-left: 320px;
    transition: transform 0.3s ease;
    display: block;
    width: 60%;

}

.news-item:hover {
    transform: scale(1.02);
}

.news-item img {
    width: 260px;
    position: absolute;
    left: 50px;
    top: -40px;
    width: 220px;
    height: 200px;
}

.news-item img:hover{
    transform: scale(1.1);
}

.news-content {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary h2{
    font-size: 30px;
    color: white;
}

p.summary {
    font-size: 15px;
    color: white;
}

.more a{
    position: absolute;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    line-height: 22px;
    background: linear-gradient(225deg,#7b77e2,#9b6ed9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 40px;
    right: 60px;

}

.more a:hover{
    transform: scale(1.1);
    transition: transform 0.3 ease;
}

.buy-now-button{
    display: none;
}

#addToCartDesktop button{
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    width: 260px;
    height: 38.5px;
    cursor: pointer;
}

.merch-section {
    position: relative;
    top: 50px
}

.merch-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.merch-item {
    width: 300px; 
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.3s ease;
}


.merch-item:hover {
    transform: scale(1.05);
}


.item-image-container img {
    width: 100%;
    border-radius: 8px; 
}

.item-image-container img:hover {
    transform: scale(1.2);
}


.item-details {
    margin-top: 15px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}


.buy-now-button:hover {
    background-color: #0056b3; 
}

h4{
    font-family: 'Overpass', sans-serif;
    color: #008080;
    text-align: center;
    font-size: 30px;
}
.item-details h3{
    font-family: 'Overpass', sans-serif;
    color: black;

}
.merch-section h2{
    font-family: 'Overpass', sans-serif;
    color: red;
    text-align: center;
    font-size: 30px;
    padding-right: 15px;
}

.login-container {
    display: none;
    position: relative;
    width: 22.2rem;
}

.form-container {
    background-color: #1a1a2e;
    border-radius: 10px;
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.login-container form input {
    display: block;
    padding: 14.5px;
    width: 92%;
    margin: 0.5rem 0; 
    color: rgb(255, 176, 176); 
    outline: none;
    background-color: rgba(188, 168, 255, 0.121);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.login-container form button {
    background-color: rgb(179, 129, 255);
    color: rgb(255, 194, 194);
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-top: 0.5rem; 
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.login-container form button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.register {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.opacity {
    opacity: 0.6;
}

@keyframes wobble {
    0% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    75% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

h5{
    margin: 0;
    text-align: center;
    font-family: "Overpass";
    font-size: 200%;
    color: white;
}

.register a{
    display: inline;
    font-family: 'Overpass';
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.form-container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 160, 160);
}

.close:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
    right: 3%;
}

button#toggleSignInButton{
    background-color: black;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 20%;
    right: 1%;
    font-family: "Overpass";

}


img#userButton {
    top: -40%;
    right: -3%;
    position: absolute;
    height: 130px;
    width: 150px;
}

img#userButton:hover{
    cursor: pointer;
}


.cart-sidebar {
    z-index: 10000;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-sidebar h2 {
    font-family: "Overpass";
    font-size: 36px;
    text-align: center;
    color: #5eff00;
    position: relative;
    top: -70px;
    right: 60px;

}

.cart-sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.cart-sidebar a:hover {
    color: #f1f1f1;
}


.overlay {
    cursor: pointer;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}



.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    z-index: 100;
}

.popup-content {
    background-color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}


.store-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.store {
    text-align: center;
}

.store img {
    margin-top: 10px;
    width: 215px;
    height: 195px;
    max-width: 100%;
}

.store:first-child{
    padding-right: 20px;
}

.store:last-child{
    padding-left: 20px;
}

.close-button {
    display: none;
}

.popup-content h2{
    color: rgb(235, 191, 255);
}

.popup-content p{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: white;
}
.store p{
    color: rgb(235, 191, 255);
    font-size: 20px;
}


.mobile-icon {
    display: none; 
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
}

#mobile-sidebar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px; 
    z-index: 998;
}

#mobile-sidebar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#mobile-sidebar a:hover {
    background-color: #555;
}

#mobile-header a{
    display: none;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    color: #9b6ed9;
    padding-right: 30px;
}


.container-signup{
    top: 25%;
    position: relative;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    left: 35%;
  }
  .container h7 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .container form {
    margin-top: 30px;
  }
  form .field {
    margin-bottom: 20px;
  }
  form .input-field {
    position: relative;
    height: 55px;
    width: 100%;
  }
  .input-field input {
    height: 100%;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
  }
  .invalid input {
    border-color: #d93025;
  }
  .input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
  }
  .field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
  }
  .invalid .error {
    display: flex;
  }
  .error .error-icon {
    margin-right: 6px;
    font-size: 15px;
  }
  .create-password .error {
    align-items: flex-start;
  }
  .create-password .error-icon {
    margin-top: 4px;
  }
  .button {
    margin: 25px 0 6px;
  }
  .button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #303030;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input:hover {
    background-color: #111;
  }
  
  .button input:active {
    transform: scale(0.95);
  }
  
  .createacc {
      padding-top: 10px;
      padding-bottom: 20px;
      height: 700px;
  }
  
  .cart-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
  }
  
  .cart-item img {
      margin-bottom: 5px; 
  }
  
  .cart-item p {
      margin: 0; 
  }
  
  #signOutButton {
      position: absolute;
      bottom: 75px; 
      left: 10px; 
      padding: 8px 16px;
      background-color: #ff6347; 
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
  }
  
  #signOutButton:hover {
      background-color: #d9534f; 
  }
  
  h8 {
      top: -11%;
      position: absolute;
      font-family: 'Overpass', sans-serif;
      font-size: 200%;
      text-align: center;
      color: white;
      margin: 30px;
      left: 41.5%;
  }
  
  .popup {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup span.close {
      color: #aaa;
      float: right;
      font-size: 36px;
      font-weight: bold;
      position: relative;
      right: 2%;
      top: 2%;
  }
  
  .popup span.close:hover,
  .popup span.close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  
  #checkoutButton {
      position: absolute;
      bottom: 75px;
      right: 10px; 
      padding: 8px 16px;
      background-color: #ff6347; 
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
  }
  
  img#qrImage {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 17%;
    right: 35%;
    
  }

.Done {
    position: absolute;
    bottom: 75px;
    right: 48%; 
    padding: 8px 16px;
    background-color: #b300ff; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}



@media only screen and (max-width: 850px) {


    text {
        display: none;
    }

    header#navbar.navbar{
        opacity: 0;
        z-index: -1;
    }

    .image-button{
        display: none;
    }

    nav {
        display: none;
    }

    .mobilenav{
        top: 0;
        opacity: 85%;
        position: fixed;
        height: 50px;
        width: 100%;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
    }

    #mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: white;
        font-family: 'Overpass', sans-serif;
        font-size: 24px;
        padding: 10px;
        z-index: 1000;

    }


    .hero-section {
        height: auto;
    }

    .hero-image{
        margin-top: 40px;
    }

    .image-buttons {
        display: none;
    }
    
    .song-container {
        flex-wrap: wrap; 
        margin-left: 7%;
    }


    .song {
        width: 40%; 
        margin-right: 0;
        margin-bottom: 20px;
    }


    .song:first-child{
        margin-left: 19px;
    }

    .play-button {
        width: 100%;
    }


    .video {
        width: 55%;
        margin-right: 0;
    }

    .video iframe {
        height: 200px; 
    }


    .hero-video {
        display: none; 
      }

    #events-table th {
        padding: 10px;
        font-size: 35px;
    }

    #events-table td{
        font-size: 15px;
    }


    .news-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        height: 65%;
        max-width: 85% ;
        border-radius: 20px;
      }
    
    .news-item img {
        border-radius: 10px;
        position: static;
        margin: 10px;
      }
    
    .news-content {
        padding: 0;
        text-align: center;
      }
    
    .more a {
        position: static;
        margin-top: 10px;
      }

    p.summary{
        padding-left: 10px;
        padding-right: 10px;
      }
    
      .mobile-icon {
        display: block;
        position: fixed;
        top: 10px;
        left: 20px;
        font-size: 30px;
        cursor: pointer;
        z-index: 1001;
    }

    #mobile-sidebar {
        position: fixed;
        left: 0;
        width: 30%;
        height: 100%;
        background-color: #000000;
        padding-top: 60px; 
        z-index: 999; 
        display: none;
        animation-name: swipe-in;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

    }   

    @keyframes swipe-in {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
    
      @keyframes swipe-out {
        from {
          transform: translateX(0);
          opacity: 1;
        }
        to {
          transform: translateX(-100%);
          opacity: 0;
        }
      }r


    #mobile-sidebar a {
        display: block;
        padding: 24px;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    #mobile-sidebar a:hover {
        background-color: #555;
    }
    .popup-container {
        top: 50px;
    }

    #mobile-header a{
        display: contents;
        font-family: 'Overpass', sans-serif;
        text-align: center;
        text-decoration: none;
        color: #9b6ed9;
        padding-left: 30px;
    }


    div#addToCartDesktop{
        display: none;
    }

    .buy-now-button{
        display: block;
        margin-top: 10px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
}

